name: "DRC and ERC using GitHub actions"

# Controls when the action will run.
on:
  push:

  pull_request:
    

jobs:
  ERC:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run ERC
      uses: INTI-CMNB/KiBot@v2_k9
      with:
        kicad: 5
        dir: hardware
        skip: run_drc
        targets: __NONE__

    - name: Retrieve results
      uses: actions/upload-artifact@v4
      with:
        name: ERC_Output
        path: hardware


  DRC:
    runs-on: ubuntu-latest
    needs: ERC

    steps:
    - uses: actions/checkout@v4

    - name: Run DRC
      uses: INTI-CMNB/KiBot@v2_k9
      with:
        kicad: 5
        dir: hardware
        skip: run_erc
        targets: __NONE__

    - name: Retrieve results
      uses: actions/upload-artifact@v4
      with:
        name: DRC_Output
        path: hardware
